[submodule "septs_ddns"]
	path = septs_ddns
	url = git@h8c.de:septs_ddns.git
[submodule "septs_git"]
	path = septs_git
	url = git@h8c.de:septs_git.git
[submodule "septs_proxy"]
	path = septs_proxy
	url = git@h8c.de:septs_proxy.git
[submodule "septs_ssl"]
	path = septs_ssl
	url = git@h8c.de:septs_ssl.git
[submodule "septs_sync"]
	path = septs_sync
	url = https://src.h8c.de/septs_sync/
[submodule "septs_tor"]
	path = septs_tor
	url = https://src.h8c.de/septs_tor/
[submodule "septs_vpn"]
	path = septs_vpn
	url = git@h8c.de:septs_vpn.git
[submodule "septs_www"]
	path = septs_www
	url = git@h8c.de:septs_www.git
